/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, black, #0a0a0a, #181869);
    height: 100dvh;
  }
  .cabecalho {
    background: linear-gradient(45deg, black, #0a0a0a, #181869);
    color: #fff;
    padding: 0rem 1.5rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
  }
  .icone-arrow{
    margin-right: 10px;
    color: white;
    font-weight: 900;
  }
  .icone-arrow:hover{
    color: rgba(255, 255, 255, 0.656);
  }

  .error {
    color: red;
    font-size: 0.825em;
    margin-top: 0.15em;
  }

  .fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0 50px;
  }
  .fundo img{
    border-radius: 10px;
    width: 50vw;
  }

  .signup-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 1px #00003f50;
    width: 400px;
    margin: auto; /* Centraliza o contêiner */
  }

  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    color: #333;
  }

  .signup-form .form-group {
    margin-bottom: 15px;
    font-weight: 700;
  }

  .signup-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  .signup-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .signup-form .btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #004085;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .signup-form .btn:hover {
    background-color: #045dbc;
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .cabecalho{
      height: 60px;
    }
    .fundo{
      display: flex;
      flex-direction: column-reverse;
      margin-top: 0px;
      padding: 0;
      width: 100vw;
    }
    .signup-container{
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 3px 3px 8px 1px #00003f50;
      border-radius: 15px 15px 0 0;
      width: 100%;
      padding: 0;
    }
    .signup-container h2{
      margin-top: 0.5rem;
    }
    .signup-form{
      padding: 10px;
    }
    .fundo img{
      width: 100vw;
      border-radius: 0px;
    }
    .img-logo {
      width: 75px;
    }
  }


  @media (max-width: 500px) {
    .img-logo {
      width: 75px;
    }
    .cabecalho {
      margin: 0;
      font-size: small;
      height: 60px;
      padding: 0rem 0.5rem;
    }
  }
