
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body{
  background-color: #f5f5f5;

}
body, html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
  --secondary-color: linear-gradient(45deg, black, #0a0a0a, #181869);
  --secondary-color-dark: black;
}


/*HOME */
  .container-home {
    display: flex;
    flex-direction: column;
    height: 100dvh; /*mobile*/
  }

  .app {
    flex: 1;
    overflow-y: auto;
    padding: 0px;
    overflow-x: hidden;
    background: var(--secondary-color);
  }

  .carousel-indicators{
    color: red;
    margin: 0;
}
  .title-home {
    background: var(--secondary-color-dark);
    display: flex;
    justify-content: center;
    padding: 3px 0;
    font-weight: 600;
    color: #fff;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
  }

  /* BARRA INFERIOR*/
  .barra-inferior {
    background: #333;
    background: var(--secondary-color);
    color: #fff;
    padding: 0.7rem;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    z-index: 1000;
  }
  .barra-inferior:hover {
    filter: brightness(1.3);
    transition: all 0.2s;
  }

  .barra-inferior .number,
  .barra-inferior .count {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .barra-inferior .value {
    width: 200px;
    padding: 5px;
    background-color: #575757;
    border-radius: 5px;
  }

  .barra-inferior .qtd {
    background-color: red;
    border-radius: 50%;
    padding: 4px;
    margin-left: 3px;
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .barra-inferior i{
    font-size: 25px;
  }

  @media (max-width: 768px) {
    .cards {
      padding: 10px;
      grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    }
    .ticket {
      font-size: small;
    }

    .ticket .value {
      background-color: #575757;
      padding: 5px 10px;
      margin: 10px;
    }
    .container-home {
      font-size: small;
    }
    .barra-inferior {
      font-size: small;
      gap: 5px;
      position: sticky;
      width: 100vw;
    }
    .barra-inferior .value {
      width: 70px;
      padding: 5px;
      background-color: #575757;
    }
  }
/* FIM HOME */


/*CONTEUDO ALTERNATIVO - BILHETE*/
.bilhete {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px auto;
  max-width: 700px;
  border: 1px solid #cecece;

}

.bilhete strong {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid #cecece;
  font-size: 1.1em;
}

.container-bilhete {
  border-bottom: 1px solid #cecece;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.text-red {
  color: red;
}

.text-green {
  color: rgb(4, 168, 4);
}

.item-bilhete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #cecece;
  font-weight: 600;
}

.item-bilhete span {
  font-weight: 600;
  font-size: 0.75em;
  color: #737373;
}

.item-bilhete:last-child {
  border-bottom: none;
}

.remover {
  cursor: pointer;
  color: red;
  font-size: large;
  transition:
    color 0.3s,
    transform 0.3s;
}

.remover:hover {
  transform: scale(1.2);
}

.bilhete-value {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.bilhete-value input[type="text"] {
  width: calc(100%);
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.bilhete-value input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

.bilhete p {
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
  padding: 0 20px;
}

.bilhete p span {
  font-weight: bold;
  color: #333;
}

.bilhete button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-size: 1rem;
  background-color: #004085 ;
  color: #fff;
  border: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  font-weight: 600;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.bilhete button:hover {
  background-color: #035dbd ;
  transform: scaleY(1.03);
}

.inputs-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 768px){
  .bilhete{
    /* margin: 10px; */
    border-radius: 0px 0px 5px 5px;
    margin: 5px;
  }
}
/*FIM CONTEUDO ALTERNATIVO - BILHETE*/
