@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body, html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
  background: linear-gradient(45deg, black, #0a0a0a, #181869);
}

.login {
    height: 100dvh;
  }

  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
  }

  .cabecalho-login {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    background:linear-gradient(45deg, black, #0a0a0a, #181869);
    color: white;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .container-login {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: transparent;

  }
  .container-login img{
    width: 46vw;
    border-radius: 0px 5px 5px 0px;
  }
  .container-login .form{
    background: white;
    padding: 2.5rem 1rem;
    border-radius: 5px 0 0 5px;
  }

  .icone-arrow{
    margin-right: 10px;
    color: white;
    font-weight: 900;
  }
  .icone-arrow:hover{
    color: rgba(255, 255, 255, 0.656);
  }

  .container-login form label {
    display: block;
    margin-bottom: 5px;
  }

  .container-login form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .container-login form button {
    background-color: #004085;
    border: none;
    margin-top: 10px;
    padding: 15px;
    color: white;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    border-radius: 5px;
  }

  .container-login form button:hover {
    background-color: #0458b3;
  }

  .signup-link {
    margin-top: 10px;
    font-size: 14px;
  }

  .signup-link a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }

  .signup-link a:hover {
    text-decoration: underline;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }


  .form-group input {
    width: calc(100%);
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }

  .form-group input:focus {
    border-color: #007bff;
    outline: none;
  }

  @media(max-width: 768px){
    .container-login{
      display: flex;
      flex-direction: column-reverse;
      margin: 0.5rem;
    }
    .img-logo {
      width: 75px;
    }
    .main{
      display: flex;
    }
    .main img{
     width: 100%;
     height: auto;

    }
    .container-login{
      font-size: small;
      margin-top: 15px;
    }
    .container-login .form{
      padding: 1rem 1rem;
    }
  }

  @media (max-width: 500px) {
    .img-logo {
      width: 75px;
    }
    .cabecalho-login {
      font-size: small;
      height: 60px;
      padding: 0rem 0.5rem;
    }
  }
