@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body, html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
  background: linear-gradient(45deg, black, #0a0a0a, #181869);
}

.main{
  display: flex;
  align-items: center;
  /* margin: 1rem; */
}
.main img{
  width: 69vw;
  height: 90vh;
}

.login {
    width: 100%;
    height: 100vh;
  }

  .cabecalho-login {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    background:linear-gradient(45deg, black, #0a0a0a, #181869);
    color: white;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .container-login {
    margin: 0 auto;
    background-color: white;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    padding: 2rem;
    box-shadow: 3px 3px 8px 1px #00003f50;
  }

  .container-login form {
    width: 100%;
  }

  .container-login form label {
    display: block;
    margin-bottom: 5px;
  }

  .container-login form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .container-login form button {
    background-color: #004085;
    border: none;
    margin-top: 10px;
    padding: 15px;
    color: white;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    border-radius: 5px;
  }

  .container-login form button:hover {
    background-color: #0458b3;
  }

  .signup-link {
    margin-top: 10px;
    font-size: 14px;
  }

  .signup-link a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }

  .signup-link a:hover {
    text-decoration: underline;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }


  .form-group input {
    width: calc(100%);
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }

  .form-group input:focus {
    border-color: #007bff;
    outline: none;
  }

  @media(max-width: 768px){
    .img-logo {
      width: 75px;
    }
    .main{
      display: flex;
      flex-direction: column-reverse;
    }
    .main img{
     width: 100%;
     height: auto;

    }
    .container-login{
      font-size: small;
      margin-top: 15px;
    }

  }
